services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    restart: unless-stopped
    working_dir: /var/www/html/xn360-api
    volumes:
      - ./:/var/www/html/xn360-api
    networks:
      - laravel
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_DATABASE=XN360_V2
      - DB_USERNAME=root
      - DB_PASSWORD=G%98SJ8o7$$t14

  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "3006:3006"
    volumes:
      - ./:/var/www/html/xn360-api
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel
    depends_on:
      - app

networks:
  laravel:
    driver: bridge
